fieldset.form label {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    padding-left: 10px;
}

fieldset.form .button {
    -moz-border-radius:4px;
    border:1px solid #AAAAAA;
    padding:3px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    height: 20px;
}

fieldset.form td,th {
    height: 30px !important;
}

fieldset.form legend {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #999999;
    text-decoration: none;
    padding: 0 0 10px 10px;
}

input[type=radio], input[type=checkbox] {
    background: transparent;
    border: 0;
}

input[type=radio]:hover, input[type=checkbox]:hover {
    background: transparent;
    border: 0;
}

input[type=text], input[type=file], input[type=password], select {

    border:1px solid #AAAAAA;  
    font-family: Calibri, Arial, Helvetica;
    font-size: 11px !important;
    color: #666666;
    height: 25px;
    -moz-border-radius:4px;
    border-radius: 4px;
    
}

select {
    padding: 3px;
    height: 29px;
}

input[type=text]:hover, input[type=file]:hover, input[type=password]:hover, select:hover {
    border:1px solid #0099FF;
    background:url(../img/bg_input.jpg);
}


textarea {
    -moz-border-radius:4px;
    border-radius: 4px;
    border:1px solid #AAAAAA;
    padding:3px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    color: #666666;
}

input.error {
    border: 1px solid red;
}

select.error {
    border: 1px solid red;
}

.checkbox {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

input.pagseguro {
    height: 61px;
    width: 99px;
}

/**
 * Botões
 */

input[type="submit"], input[type="reset"], input[type=button], button {
    height: 30px;
}
/*
input[type="submit"]:hover, input[type="reset"]:hover, input[type=button]:hover, button:hover {
    background: url(../img/botao-m.png) no-repeat center bottom;
    border: 0;
    height: 28px;
    width: 130px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
}*/

.botao-buscar {
    background: url(../img/botao-buscar.png) no-repeat center top !important;
    height: 27px !important;
    width: 50px !important;
    text-indent:-9999em;
}

.botao-buscar:hover {
    background: url(../img/botao-buscar.png) no-repeat center bottom !important;
    height: 27px !important;
    width: 50px !important;
    text-indent:-9999em;
}

fieldset.busca {
    border: solid 1px #999;
    border-radius: 5px;
}

fieldset.busca legend {
    border: solid 1px #999;
    border-radius: 5px;
    padding: 3px;
    margin-left: 20px;
    background: #f2f2f2;
}

.error label {
    display: block;
    line-height: 1.8
}